:root {
	--bg: #1f222a;
	--bg-dark: #1a1d27;
	--bg-light: #2b303c;
	--bg-mute: #181b21;
	--primary: #ff6a48;
	--text: #fafafe;

	--separator-top: #262931;
	--separator-bottom: #262931;

	--icon: #afc2d0;
	--icon-light: #ffffff;
	--icon-circle: var(--primary);

	--inp-text: #ffffff;
	--inp-bg: #1a1d27;
	--inp-border: #1a1d27;
	--inp-placeholder: #3f424a;
	--inp-hover: var(--primary);

	--link-icon: #afc2d0;
	--link-color: #afc2d0;
	--link-hover: var(--primary);

	--clr1: #fdbb64;
	--clr2: #958ffc;
	--clr3: #30e6c9;
	--clr4: #adbfcf;

	--b1: #1c1b20;
	--b2: #26252c;
	--d1: #17181f;
	--d2: #1f2029;
}
