@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
	/* body css */
	--font-family: 'Poppins', sans-serif;
	--font-size: 20px;
	--border-radius: 10px;
	--section-gap: 160px;
	--navbar-width: 350px;
}

:root {
	/* text color */
	--text-main: #111111;
	--text-soft: #ffffff;
	--text-mute: #cccccc;

	/* bg colors */
	--bg-main: #ffffff;
	--bg-soft: #dfe7ee;
	--bg-mute: #c5d4e1;

	/* divider colors */
	--divider-up: #f1f0f5;
	--divider-down: #f6f5fa;

	/* button colors */
	--button-bg: #0075ff;
	--button-color: #111111;
	--button-border: #0075ff;

	/* button hover colors */
	--button-bg-hover: #0075ff;
	--button-color-hover: #111111;
	--button-border-hover: #0075ff;

	/* main colors */
	--color-1: #e9ad79;
	--color-2: #85b899;
	--color-3: #a685c5;
	--color-4: #b35864;
	--color-5: #3e4589;
	--color-6: #3976bc;

	/* main soft colors */
	--color-soft-1: #f5ddc8;
	--color-soft-2: #e5ede8;
	--color-soft-3: #e4d6f3;
	--color-soft-4: #e8b6bd;
	--color-soft-5: #999dcd;
	--color-soft-6: #b1d6ff;
}

/* color mode from browser setting */
@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;

		/* text color */
		--text-main: #ffffff;
		--text-soft: #262833;
		--text-mute: #111111;

		/* bg colors */
		--bg-main: #262833;
		--bg-soft: #242732;
		--bg-mute: #44474f;

		/* divider colors */
		--divider-up: #2e313a;
		--divider-down: #343741;
	}
}

/* color mode from html tag attribute */
[color-scheme='light'] {
	color-scheme: light;

	/* text color */
	--text-main: #111111;
	--text-soft: #ffffff;
	--text-mute: #cccccc;

	/* bg colors */
	--bg-main: #ffffff;
	--bg-soft: #dfe7ee;
	--bg-mute: #c5d4e1;

	/* divider colors */
	--divider-up: #f1f0f5;
	--divider-down: #f6f5fa;
}

[color-scheme='dark'] {
	color-scheme: dark;

	/* text color */
	--text-main: #ffffff;
	--text-soft: #262833;
	--text-mute: #111111;

	/* bg colors */
	--bg-main: #262833;
	--bg-soft: #242732;
	--bg-mute: #44474f;

	/* divider colors */
	--divider-up: #2e313a;
	--divider-down: #343741;
}

html {
	font-size: var(--font-size);
	font-family: var(--font-family);
	background: var(--bg-main);
	margin: 0;
	padding: 0px;
}

body {
	min-height: 100vh;
	margin: 0;
	padding: 0px;
	overflow-y: scroll;
	color: var(--text-main);
	background: var(--bg-main);
	transition: color 0.5s, background-color 0.5s;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	outline: 0px none transparent;
	text-decoration: none;
}

::placeholder {
	color: var(--bg-mute);
	font-size: 1rem;
	font-weight: 500;
}

::selection {
	background: var(--color-6);
	color: #fff;
}

a {
	color: var(--color-6);
	text-decoration: none;
	transition: 0.4s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	float: left;
	width: 100%;
}

input,
textarea,
select {
	outline: none;
	font-family: var(--font-family);
}

a.menu-link {
	float: left;
	padding: 0.8rem 1.5rem;
	margin: 10px;
	color: var(--button-color);
	background: var(--button-bg);
}

.select-arrow {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

.select-arrow::-ms-expand {
	display: none;
}

.divider {
	border-top: 1px solid var(--divider-up);
	border-bottom: 1px solid var(--divider-down);
}

.scrollbar {
	overflow-y: scroll;
	scrollbar-width: thin;
	scrollbar-color: var(--bg-soft) var(--bg-mute);
}

.scrollbar::-webkit-scrollbar {
	width: 4px;
	background-color: var(--bg-mute);
}

.scrollbar::-webkit-scrollbar-thumb {
	background: var(--bg-soft);
}

.text-gradient {
	background: -webkit-linear-gradient(#cc55cc, #0077ff);
	background-clip: text;
	color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.color-wheele {
	background: conic-gradient(hsl(360, 100%, 50%), hsl(315, 100%, 50%), hsl(270, 100%, 50%), hsl(225, 100%, 50%), hsl(180, 100%, 50%), hsl(135, 100%, 50%), hsl(90, 100%, 50%), hsl(45, 100%, 50%), hsl(0, 100%, 50%));
}

#app {
	min-height: 100vh;
	padding: 0px;
	margin: 0px;
}

@media (max-width: 1600px) {
	:root {
		--font-size: 18px;
	}

	#page-wraper {
		max-width: 1600px;
	}
}

@media (max-width: 1280px) {
	:root {
		--font-size: 15px;
	}

	#page-wraper {
		max-width: 1280px;
	}
}

@media (max-width: 1024px) {
	:root {
		--font-size: 14px;
	}

	#page-wraper {
		max-width: 100%;
	}
}

@media (max-width: 480px) {
	:root {
		--font-size: 14px;
	}

	#page-wraper {
		max-width: 100%;
	}
}
