:root {
	/* theme white */
	--taw-1: #ffffff;
	--taw-2: #f3f5f7;
	--taw-3: #d1dce8;
	--taw-4: #989fb0;
	--taw-5: #151819;
	--taw-6: #faac63;
	--taw-7: #2ed552;
	--taw-8: #4590e0;
	--taw-9: #bc7cf4;

	/* theme white */
	--tbw-1: #ffffff;
	--tbw-2: #eff1f3;
	--tbw-3: #d1dce8;
	--tbw-4: #989fb0;
	--tbw-5: #151819;
	--tbw-6: #faac63;
	--tbw-7: #4cb462;
	--tbw-8: #5362f8;
	--tbw-9: #8560d3;

	/* theme white */
	--tbw-1: #ffffff;
	--tbw-2: #eaeaf3;
	--tbw-3: #e6e7f0;
	--tbw-4: #7e7e90;
	--tbw-5: #272848;
	--tbw-6: #faac63;
	--tbw-7: #6dc8f9;
	--tbw-8: #6d71f9;
	--tbw-9: #8560d3;

	/* theme dark */
	--ta-1: #151819;
	--ta-2: #1f2123;
	--ta-3: #2c2e32;
	--ta-4: #47494b;
	--ta-5: #f3f5f7;
	--ta-6: #fcbf87;
	--ta-7: #b4fcc4;
	--ta-8: #b1d6fe;
	--ta-9: #dcc1f3;

	/* theme dark */
	--tb-1: #101216;
	--tb-2: #15171c;
	--tb-3: #1a1c20;
	--tb-4: #47494b;
	--tb-5: #f3f5f7;
	--tb-6: #e4692b;
	--tb-7: #29c78f;
	--tb-8: #255eee;
	--tb-9: #834aca;

	/* theme dark */
	--tc-1: #222124;
	--tc-2: #232526;
	--tc-3: #292929;
	--tc-4: #4b4b4b;
	--tc-5: #f3f5f7;
	--tc-6: #f6592f;
	--tc-7: #3ca153;
	--tc-8: #4876a8;
	--tc-9: #8372bf;

	/* theme dark */
	--td-1: #070707;
	--td-2: #161616;
	--td-3: #0f0f0f;
	--td-4: #525155;
	--td-5: #e5e5e5;
	--td-6: #e8c30a;
	--td-7: #ad241b;
	--td-8: #1bad3f;
	--td-9: #2b43c6;

	/* theme dark */
	--te-1: #191a23;
	--te-2: #222531;
	--te-3: #2a2c3b;
	--te-4: #6b6c75;
	--te-5: #e3e5e7;
	--te-6: #f15c45;
	--te-7: #ffcb32;
	--te-8: #8cc156;
	--te-9: #5ee9cf;

	/* theme dark */
	--tf-1: #16171b;
	--tf-2: #191b1f;
	--tf-3: #1e1f25;
	--tf-4: #323337;
	--tf-5: #e5e5e5;
	--tf-6: #f15c45;
	--tf-7: #fe8f38;
	--tf-8: #8cc156;
	--tf-9: #5ee9cf;

	/* theme dark */
	--tg-1: #191a23;
	--tg-2: #222531;
	--tg-3: #2d2e37;
	--tg-4: #afb0b4;
	--tg-5: #ffffff;
	--tg-6: #e84d36;
	--tg-7: #f15c45;
	--tg-8: #65a400;
	--tg-9: #a2d84b;

	/* theme dark */
	--to-1: #1e1e1d;
	--to-2: #242423;
	--to-3: #3a3939;
	--to-4: #aeac92;
	--to-5: #e7e7d6;
	--to-6: #ff5800;
	--to-7: #ff6d00;
	--to-8: #ff8c00;
	--to-9: #ffb356;
}
